*node_modules*

# Bootsnap cache
tmp/cache/bootsnap/

# Build artifacts
app/assets/builds/*
!app/assets/builds/.keep

# Logs
log/*.log

# Temporary files
tmp/*
!tmp/.keep
!tmp/**/
!tmp/pids/.keep

# macOS
.DS_Store

# Ruby
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
